.mat-card.auth-card{
  max-width: 300px;
  margin: 100px auto;
  text-align: center;
}
.mat-card.main-card{
	max-width: 80%;
	margin: 0px auto;
	text-align: center;
}
.cat-card {
      max-width: 400px;
    display: inline-block;
    width: 400px;
    margin: 30px;
}
.fullrow,
textarea{
	width:90%;
}
.photo{
	height: 400px;
	overflow: hidden;
}