<div class="container">
	<mat-card class="auth-card" *ngIf="!isLoggedIn && !regForm" >
		<mat-card-header>
		    <mat-card-title>Authorization</mat-card-title>
		  </mat-card-header>
		<div>
			<mat-form-field appearance="outline" [style.width.px]="250" >
			  <mat-label>Username</mat-label>
			  <input matInput required [(ngModel)]="creeds.username">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline" [style.width.px]="250">
			    <mat-label>Enter your password</mat-label>
			    <input matInput required [(ngModel)]="creeds.password" [type]="hide ? 'password' : 'text'">
			    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
			    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			    </button>
			</mat-form-field>
		</div>
		<div>
		    <button [style.margin.px]="5"  mat-raised-button (click)="login()" type="submit" color="primary">Login</button>
		    <button  mat-stroked-button (click)="regForm=true" type="submit" color="primary">Registaration</button>
		</div>
		
	</mat-card>
	<mat-card class="auth-card" *ngIf="!isLoggedIn && regForm" >
		<mat-card-header>
		    <mat-card-title>Registration</mat-card-title>
		  </mat-card-header>
		<div>
			<mat-form-field required appearance="outline" [style.width.px]="250" >
			  <mat-label>Username</mat-label>
			  <input matInput required [(ngModel)]="reguser.username">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline" [style.width.px]="250" >
			  <mat-label>First name</mat-label>
			  <input matInput required  [(ngModel)]="reguser.first_name">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline" [style.width.px]="250" >
			  <mat-label>Last name</mat-label>
			  <input matInput  [(ngModel)]="reguser.last_name">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline" [style.width.px]="250" >
			  <mat-label>Email</mat-label>
			  <input matInput required  [(ngModel)]="reguser.email" [email]="true">
			</mat-form-field>
		</div>
		<div>
			<mat-form-field appearance="outline" [style.width.px]="250">
			    <mat-label>Enter your password</mat-label>
			    <input matInput required [(ngModel)]="reguser.password" [type]="hide ? 'password' : 'text'">
			    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
			    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			    </button>
			</mat-form-field>
		</div>
		<div>
		    <button [style.margin.px]="5"  mat-raised-button (click)="registration()" type="submit" color="primary">Registration</button>
		    <button  mat-stroked-button (click)="regForm=false" type="submit" color="primary">Login</button>
		    
		</div>
		
	</mat-card>
	<mat-card class="main-card" *ngIf="isLoggedIn">
	    <mat-selection-list #shoes [multiple]="false">
		  <mat-list-option (click)="getCats()">My cats</mat-list-option>
		  <mat-list-option (click)="newCat()">Add new cat</mat-list-option>
		  <mat-list-option (click)="logout()">Logout</mat-list-option>
		</mat-selection-list>
		
		<mat-card *ngFor="let item of cats" class="cat-card">
		  <mat-card-header>
		    <!--div mat-card-avatar class="example-header-image" ></div-->
		    <mat-card-title>{{ item.name }}</mat-card-title>
		    <mat-card-subtitle>{{item.breed.name}}</mat-card-subtitle>
		    <mat-card-subtitle>{{item.breed.description}}</mat-card-subtitle>
		  </mat-card-header>
		  <div class="photo">
		  	<img mat-card-image src="{{item.breed.photo}}" alt="Photo of a {{item.breed.name}}">
		  </div>
		  <mat-card-content>
		    <p>
		      	{{item.biography}}
		    </p>
		  </mat-card-content>
		  <mat-card-actions>
		    <button mat-button (click)="editCat(item)">EDIT</button>
		  </mat-card-actions>
		</mat-card>
	

		<form *ngIf="showForm" >
			<mat-grid-list cols="3" rowHeight="150px">
			  <mat-grid-tile>
			  	<mat-form-field class="fullrow" hintLabel="Max 20 characters" appearance="outline">
				    <mat-label>Enter cat name</mat-label>
				    <input class="fullrow" [(ngModel)]="newcat.name" [ngModelOptions]="{standalone: true}" matInput #input maxlength="20" placeholder="Musya">
				   
				</mat-form-field>
			  </mat-grid-tile>
			  <mat-grid-tile>
			  	<mat-form-field class="fullrow" appearance="outline">
				    <mat-label>Select breed</mat-label>
				    <mat-select  class="fullrow" [(ngModel)]="newcat.breed" [ngModelOptions]="{standalone: true}" >
				      <mat-option *ngFor="let item of breeds" [value]="item">{{item.name}}</mat-option>
				    </mat-select>
				</mat-form-field>
			  </mat-grid-tile>
			  <mat-grid-tile>
			  	<mat-form-field class="fullrow" appearance="outline">
				  <mat-label>Birthday</mat-label>
				  <input class="fullrow" matInput [matDatepicker]="picker" [(ngModel)]="newcat.birthday" [ngModelOptions]="{standalone: true}">
				  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				  <mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			  </mat-grid-tile>
			  <mat-grid-tile colspan="3">
			  	<mat-form-field appearance="outline" class="fullrow">
				  <mat-label>Biography</mat-label>
				  <textarea rows="5" class="fullrow" matInput [(ngModel)]="newcat.biography" [ngModelOptions]="{standalone: true}"></textarea>
				</mat-form-field>
			  </mat-grid-tile>
			</mat-grid-list>
		
			<button  mat-raised-button (click)="saveCat()" type="submit" color="primary">Save</button>
		</form>
	</mat-card>


</div>